<div class="container-fluid default-dashboard">
    <div class="row">
        <div class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 box-col-4">
              <app-welcome />
        </div>
        <div class="col-xxl-6 col-lg-8 col-md-7 col-sm-6 box-col-8e">
             <app-higher-revenue />
        </div>
        <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-4">
            <app-recent-activity />
        </div>
        <div class="col-xl-4 col-sm-6 box-col-4">
            <app-tasks-list />
        </div>
        <div class="col-xl-4 col-md-6 box-col-4">
             <app-dashboard-notifications />
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
              <app-total-sales />
        </div>
        <div class="col-xl-6 box-col-6">
          <app-learning-summary [height]="true" />
        </div>
        <div class="col-xxl-6 col-lg-8 box-col-8e">
            <app-current-orders />
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 box-col-4">
              <app-trending-news />
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 box-col-4">
          <app-customer-review />
        </div>
        <div class="col-xxl-6 col-lg-8 box-col-8e">
            <app-sales-by-product />
        </div>
    </div>
</div>