<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-xxl-2 col-md-4 col-sm-6 box-col-4">
      <app-online-sales />
    </div>
    <div class="col-xxl-2 col-md-4 col-sm-6 box-col-4">
      <app-offline-sales />
    </div>
    <div class="col-xxl-2 col-md-4 col-sm-5 box-col-4">
      <app-total-profit />
    </div>
    <div class="col-md-6 col-sm-7">
      <app-visitors />
    </div>
    <div class="col-xxl-3 col-md-6 box-col-6">
      <app-order-overview />
    </div>
    <div class="col-xxl-5 col-sm-6 box-col-6">
      <app-learning-summary />
    </div>
    <div class="col-xxl-4 col-sm-6 box-col-6">
      <app-transaction-history />
    </div>
    <div class="col-xl-3 col-sm-6">
      <app-social-media [data]="facebook" />
    </div>
    <div class="col-xl-3 col-sm-6">
      <app-social-media [data]="instagram" />
    </div>
    <div class="col-xl-3 col-sm-6">
      <app-social-media [data]="twitter" />
    </div>
    <div class="col-xl-3 col-sm-6">
      <app-social-media [data]="youtube" />
    </div>
    <div class="col-sm-6">
      <app-project-created />
    </div>
    <div class="col-sm-6">
      <app-sale-statistic />
    </div>
  </div>
</div>
