/**=====================
  2.23 Popover CSS Start
==========================**/
// popover
.popover {
  background-color: $white;
  border: none;
  -webkit-box-shadow: 0 0 20px rgba($primary-color, 0.1);
  box-shadow: 0 0 20px rgba($primary-color, 0.1);
  .popover-header {
    background-color: $theme-medium-color;
    color: var(--theme-default);
    border-bottom: none;
  }
  .popover-body {
    color: rgba(43, 43, 43, 0.7);
  }
}
.popover-main {
  .btn-showcase {
    a {
      color: $white;
    }
    button {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.svg-tooltip {
  .common-flex {
    >div {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid;
      i {
        font-size: 20px;
      }
      &:hover {
        i {
          stroke: var(--white) !important;
        }
      }
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
  &.light-bg-tooltip {
    .common-flex {
      >div {
        border: 0;
      }
    }
  }
}
/**=====================
  2.23 Popover CSS Ends
==========================**/