<div class="container-fluid dropdown-page">
  <div class="row">
    <div class="col-xl-6">
      <app-basic />
    </div>
    <div class="col-xl-6">
      <app-rounded />
    </div>
    <div class="col-sm-12 col-xl-12">
      <app-split-dropdown />
    </div>
    <div class="col-xl-4 col-sm-6">
      <app-heading />
    </div>
    <div class="col-lg-4 col-md-6">
      <app-input-type />
    </div>
    <div class="col-xl-4 col-sm-6">
      <app-dark />
    </div>
    <div class="col-sm-6">
      <app-unique />
    </div>
    <div class="col-lg-6">
      <app-justify-contents />
    </div>
    <div class="col-lg-12">
      <app-alignments />
    </div>
    <div class="col-xl-6">
      <app-helper-card />
    </div>
    <div class="col-md-6">
      <app-divider />
    </div>
    <div class="col-md-12">
      <app-dropdown-sizing />
    </div>
    <div class="col-md-12">
      <app-dropdown-options />
    </div>
  </div>
</div>
