<div class="container-fluid ecommerce-dashboard">
    <div class="row">
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 box-col-3">
            <app-online-sales />
        </div>
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 box-col-3">
            <app-offline-sales />
        </div>
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 box-col-3">
            <app-total-profit />
        </div>
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 box-col-3">
            <app-response />
        </div>
        <div class="col-xxl-4 col-lg-7 col-md-8 custom-order-1 box-col-7">
            <app-orders-countries />
        </div>
        <div class="col-xl-7 box-col-7">
            <app-top-selling-products />
        </div>
        <div class="col-lg-5 custom-order-2 box-col-5">
            <app-sale-statistic />
        </div>
        <div class="col-xxl-4 col-xl-5 col-md-6 box-col-5">
            <app-goal-summary />
        </div>
        <div class="col-xxl-4 col-sm-6 box-col-6">
            <app-current-activity />
        </div>
        <div class="col-xxl-4 col-sm-6 box-col-6">
            <app-support-mailbox />
        </div>
        <div class="col-xl-5 xl-30 col-md-6 box-col-4e">
            <app-add-product />
        </div>
        <div class="col-xl-4 xl-40 col-sm-7 box-col-5">
            <app-special-discount />
        </div>
        <div class="col-xl-3 xl-30 col-sm-5 box-col-4e">
             <app-ask-friends />
        </div>
    </div>
</div>