<ul class="layout-grid customizer-color dark">
    <li class="color-layout" data-attr="color-1"
        (click)="customizeDarkColorScheme('#2A5699','#EA6F4E')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-2"
        (click)="customizeDarkColorScheme('#008dab','#e87f24')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-3"
        (click)="customizeDarkColorScheme('#534686','#FFA47A')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-4"
        (click)="customizeDarkColorScheme('#2b5e5e','#C06240')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-5"
        (click)="customizeDarkColorScheme('#7366ff','#f73164')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-6"
        (click)="customizeDarkColorScheme('#43B9B2','#C280D2')">
        <div></div>
    </li>
</ul>