<div class="email-right-aside bookmark-tabcontent">
    <div class="card email-body radius-left">
        <div class="ps-0">
            <div class="tab-content">
                <div class="tab-pane fade active show">
                    <div class="card mb-0">
                        <div class="card-header d-flex pb-0">
                            <h4 class="mb-0">{{getBookmarkData.title}}</h4>
                            <ul>
                                <li>
                                    <a class="grid-bookmark-view" href="javascript:void(0)" (click)="listGrid = false">
                                        <app-feather-icon [icon]="'grid'" />
                                    </a>
                                </li>
                                <li>
                                    <a class="list-layout-view" href="javascript:void(0)" (click)="listGrid = true">
                                        <app-feather-icon [icon]="'list'" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pb-0">
                            @if (getBookmarkData.data.length === 0) {
                            <div class="details-bookmark text-center">
                                <div class="row" id="favouriteData"></div>
                                <div class="no-favourite"><span>No Bookmarks Found.</span></div>
                            </div>
                            } @else {
                            <div class="details-bookmark text-center" [class.list-bookmark]="listGrid">
                                <div class="row" id="bookmarkData">
                                    @for (item of getBookmarkData.data; track item) {
                                    <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6 box-col-4">
                                        <div class="card card-with-border bookmark-card o-hidden">
                                            <div class="details-website">
                                                <img class="img-fluid" [src]="item.img" alt="">
                                                <div class="favourite-icon favourite_0"
                                                    [class.favourite]="item.favourite">
                                                    <a href="javascript:void(0);" (click)="bookMarkItem(item)"><i
                                                            class="fa fa-star"></i></a>
                                                </div>
                                                <div class="desciption-data">
                                                    <div class="title-bookmark">
                                                        <h5 class="title_0">{{item.title}}</h5>
                                                        <p class="weburl_0">
                                                            {{item.url}}
                                                        </p>
                                                        <div class="hover-block">
                                                            <ul>
                                                                <li><a (click)="editBookmarkModel(item)">
                                                                        <app-feather-icon [icon]="'edit-2'" />
                                                                    </a>
                                                                </li>
                                                                <li><a href="javascript:void(0)">
                                                                        <app-feather-icon [icon]="'link'" />
                                                                    </a>
                                                                </li>
                                                                <li><a href="javascript:void(0)">
                                                                        <app-feather-icon [icon]="'share-2'" />
                                                                    </a>
                                                                </li>
                                                                <li><a href="javascript:void(0)">
                                                                        <app-feather-icon [icon]="'trash-2'" />
                                                                    </a>
                                                                </li>
                                                                <li class="pull-right text-end"><a
                                                                        href="javascript:void(0)">
                                                                        <app-feather-icon [icon]="'tag'" />
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="content-general">
                                                            <p class="desc_0">{{item.desc}}</p><span
                                                                class="collection_0">{{item.collection}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>