<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="fullScreenModalLabel">Full screen modal</h4>
    <button class="btn-close py-0" type="button" (click)="close()"></button>
  </div>
  <div class="modal-body dark-modal">
    <div class="large-modal-header">
      <app-feather-icon [icon]="'chevrons-right'" />
      <h5>Web design </h5>
    </div>
    <p class="modal-padding-space">We build specialised websites for companies, list them on digital directories, and
      set up a sales funnel to boost ROI.</p>
    <div class="modal-details">
      <div class="web-content">
        @for (allData of commonFullScreenData; track allData) {
        <h5>{{allData.title}}</h5>
        @for (data of allData.data; track data) {
        <div class="d-flex">
          <div class="flex-shrink-0">
            <app-feather-icon [class]="'svg-modal'" [icon]="'arrow-right-circle'" />
          </div>
          <div class="flex-grow-1 ms-2">
            <p>{{data.desc}}</p>
          </div>
        </div>
        }
        }
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary me-2" type="button" (click)="close()">Close</button>
      <button class="btn btn-primary" type="button">Save </button>
    </div>
  </div>
</div>