<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0">
            <h4 class="mb-0">Offcanvas Directions</h4>
            <p class="mb-0 mt-1">Use<code> Offcanvas-* </code>[top/end/bottom/start] class allows you to modify the
              offcanvas direction.</p>
          </div>
          <div class="card-body common-flex common-offcanvas">
            <app-top-offcanvas />
            <app-right-offcanvas />
            <app-bottom-offcanvas />
            <app-left-offcanvas />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0">
            <h4 class="mb-0">Offcanvas Variations</h4>
            <p class="mb-0 mt-1">Use<code> data-bs-scroll </code>attribute to enable <code>&lt;body&gt; </code>scrolling
              class and clicking outside of the offcanvas will not cause it to close if the backdrop is static.</p>
          </div>
          <div class="card-body common-flex common-offcanvas">
            <app-enable-body-scrolling />
            <app-backdrop-with-scrolling />
            <app-toggle-static-offcanvas />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>