<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-solid-divider />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-dashed-divider />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-dotted-divider />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-dashed-divider />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-dotted-divider />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-double-divider />
    </div>
    <div class="col-md-6">
      <app-animated-color-divider />
    </div>
    <div class="col-md-6">
      <app-horizontal-editable-divider />
    </div>
    <div class="col-md-6">
      <app-simple-horizontal-divider />
    </div>
    <div class="col-md-6">
      <app-simple-vertical-divider />
    </div>
  </div>
</div>
