<ul class="layout-grid customizer-color">
  <li
    class="color-layout"
    data-attr="color-1"
    (click)="customizeLightColorScheme('#2A5699','#EA6F4E')"
  >
    <div></div>
  </li>
  <li
    class="color-layout"
    data-attr="color-2"
    (click)="customizeLightColorScheme('#008dab','#e87f24')"
  >
    <div></div>
  </li>
  <li
    class="color-layout"
    data-attr="color-3"
    (click)="customizeLightColorScheme('#534686','#FFA47A')"
  >
    <div></div>
  </li>
  <li
    class="color-layout"
    data-attr="color-4"
    (click)="customizeLightColorScheme('#2b5e5e','#C06240')"
  >
    <div></div>
  </li>
  <li
    class="color-layout"
    data-attr="color-5"
    (click)="customizeLightColorScheme('#7366ff','#f73164')"
  >
    <div></div>
  </li>
  <li
    class="color-layout"
    data-attr="color-6"
    (click)="customizeLightColorScheme('#43B9B2','#C280D2')"
  >
    <div></div>
  </li>
</ul>
