<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <app-dark-theme />
    </div>
    <div class="col-xl-12">
      <app-link-color-light-theme />
    </div>
    <div class="col-sm-12">
      <app-outline-dark-light-alerts />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-alerts-with-text-actions />
    </div>
    <div class="col-xl-6">
      <app-live-alert />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismissing-light-alert />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismissing-dark-alert />
    </div>
    <div class="col-xl-6">
      <app-left-border-alert />
    </div>
    <div class="col-xl-6">
      <app-custom-alert-popup />
    </div>
    <div class="col-xl-12">
      <app-icons-with-alerts />
    </div>
    <div class="col-sm-12">
      <app-additional-content />
    </div>
  </div>
</div>
