<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-3 col-sm-6">
            <app-link-utilities />
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-link-underlines />
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-border-opacity />
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-background-color-opacity />
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h4>Common Links</h4>
                    <p class="f-m-light mt-1">Link utilities are used to stylize your anchors to adjust their link
                        opacity <code> (link-opacity-*), </code>hovered link Opacity
                        <code>(link-opacity-*-hover), </code>underline opacity
                        <code>(link-underline-opacity-*), </code>underline offset <code>(link-offset-*), </code>and
                        more.</p>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-sm-6 col-xxl-3">
                            <app-link-opacity />
                        </div>
                        <div class="col-sm-6 col-xxl-3">
                            <app-hovered-link-opacity />
                        </div>
                        <div class="col-sm-6 col-xxl-3">
                            <app-underline-opacity />
                        </div>
                        <div class="col-sm-6 col-xxl-3">
                            <app-underline-offset />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>