//According settings
/**=====================
    3.17 Faq CSS start
==========================**/
.knowledgebase-bg {
  height: 500px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.knowledgebase-search {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 5%;
  .form-inline {
    background-color: $white;
    width: 500px;
    padding: 12px 50px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    position: relative;
    ::placeholder {
      color: $gray-60;
    }
    svg {
      position: absolute;
      left: 20px;
      width: 20px;
      top: 17px;
      stroke: $gray-60;
    }
  }
}
.faq-widgets {
  align-items: center !important;
  gap: 20px;
  .flex-grow-1 {
    h4 {
      font-weight: 600;
      padding-bottom: 10px;
      color: var(--theme-default);
    }
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $theme-body-font-color;
    }
  }
  svg {
    width: 60px;
    height: 60px;
    opacity: 0.5;
  }
}
.header-faq {
  margin-bottom: 30px;
}
.features-faq {
  &.card {
    .card-body,
    .card-footer {
      padding: 20px 25px;
    }
    .card-body {
      text-align: center;
      h4 {
        padding-bottom: 6px;
        color: var(--theme-default) !important;
        font-size: 18px;
      }
    }
  }
  .faq-image {
    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
    }
  }
  .card-body {
    h6 {
      font-weight: 500;
    }
  }
}
.add-project {
  &.table td {
    vertical-align: middle;
  }
  .text-inherit {
    color: black;
  }
}
.faq-accordion.default-according {
  margin-bottom: 30px;
  .card {
    .btn-link {
      display: flex;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        flex-shrink: 0;
      }
    }
    .faq-header {
      position: relative;
      padding: 30px;
      svg {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 20px;
        height: 20px;
      }
      span {
        margin-top: 3px;
      }
    }
  }
  .faq-body {
    padding: 20px !important;
  }
  .card-mb-faq {
    margin-bottom: 30px;
  }
}
.faq-title {
  margin: 30px 0;
}
.faq-form {
  position: relative;
  .search-icon {
    position: absolute;
    right: 12px;
    top: 9px;
    width: 20px;
    height: 20px;
  }
}
.navigation-btn {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  margin-bottom: 20px;
}
.navigation-option {
  ul {
    background-color: $body-color;
    li {
      position: relative;
      padding: 8px 8px 8px 0;
      &:hover {
        background-color: $light;
      }
      a {
        padding-left: 40px;
        color: $theme-body-font-color;
        svg {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 11px;
          left: 15px;
        }
      }
    }
  }
}
.updates-faq {
  width: 40px;
  height: 40px;
  background-color: var(--theme-default);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
  svg {
    width: 18px;
    height: 18px;
    color: $white !important;
  }
}
.updates-bottom-time {
  p {
    margin-bottom: 2px;
    + p {
      color: $light-text;
    }
  }
}
.latest-articles {
  .card {
    overflow: hidden;
    .d-flex {
      &::before {
        content: "";
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: rgba($primary-color, 0.1);
        left: -12px;
        top: -15px;
        border-radius: 20%;
        border: 2px solid var(--theme-default);
        [dir="rtl"] & {
          left: unset;
          right: -12px;
        }
      }
      svg {
        color: var(--theme-default);
        margin-top: -3px;
        flex-shrink: 0;
      }
      .flex-grow-1 {
        p {
          color: $theme-font-color;
        }
      }
    }
  }
}
.updates-faq-main {
  margin-bottom: 15px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 15px;
  a {
    font-weight: 500;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .faq-accordion {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .faq-accordion.default-according {
    .card {
      .faq-header {
        padding: 20px !important;
        svg {
          right: 20px;
          top: 20px;
        }
      }
    }
  }
  .navigation-option {
    ul {
      li {
        padding: 10px 10px 10px 0;
        a {
          svg {
            top: 12px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .xs-mt-search {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .xs-mt-search {
    margin-top: 0px;
  }
  .faq-widgets {
    svg {
      width: 60px;
      height: 60px;
    }
  }
  .faq-title {
    margin: 15px 0;
  }
  .header-faq {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .faq-accordion {
    margin-bottom: 0px;
    .faq-header {
      padding: 15px !important;
      .pull-right {
        float: right;
      }
      svg {
        right: 15px;
        top: 15px;
      }
    }
  }
  .navigation-btn,
  .updates-faq-main {
    margin-bottom: 15px;
  }
}
.articles-cards {
  &.bg-primary {
    background-color: $white !important;
    border-left: 4px solid var(--theme-default) !important;
    [dir="rtl"] & {
      border-left: unset !important;
      border-right: 4px solid var(--theme-default) !important;
    }
  }
}
/**=====================
    3.17 Faq CSS end
==========================**/
