/**=====================
    3.25 Knowledgebase CSS start
==========================**/
.browse {
  .browse-articles {
    background-color: $body-color;
    padding: 15px;
    span {
      vertical-align: middle;
      &:nth-child(2) {
        padding-left: 20px;
        [dir="rtl"] & {
          padding-left: unset;
          padding-right: 20px;
        }
      }
      svg {
        width: 14px;
        height: 14px;
        vertical-align: text-top;
        position: absolute;
        left: 0;
        top: 3px;
        [dir="rtl"] & {
          left: unset;
          right: 0;
        }
      }
    }
    h5 {
      padding-bottom: 10px;
      margin-bottom: 0px;
      border-bottom: 1px solid $light-gray;
      padding-left: 25px;
      [dir="rtl"] & {
        padding-left: unset;
        padding-right: 25px;
      }
      span {
        svg {
          width: 16px;
          height: 16px;
          font-weight: 500;
          vertical-align: text-top;
          top: 16px;
          left: 27px;
          [dir="rtl"] & {
            left: unset;
            right: 27px;
          }
        }
      }
    }
    ul {
      li {
        padding: 8px;
        border-radius: 8px;
        a {
          color: $theme-body-font-color;
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
        }
        &:hover {
          background-color: $light;
        }
      }
    }
  }
}
.knowledgebase-search {
  .form-group {
    input {
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: 1366px) {
  .browse {
    div[class^="col-"] {
      &:nth-child(3) {
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 360px) {
  .browse {
    .browse-articles {
      ul {
        li {
          a {
            span {
              &:nth-child(2) {
                width: 158px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
.badge {
  &.pull-right {
    padding-top: 6px;
  }
}
.articles-icons {
  svg {
    min-width: 18px;
  }
  .flex-grow-1 {
    h5 {
      padding-bottom: 6px;
    }
  }
}
.d-flex {
  &.faq-widgets {
    svg {
      min-width: 18px;
      order: -1;
      color: var(--theme-default);
      flex-shrink: 0;
    }
  }
}
/**=====================
    3.25 Knowledgebase CSS End
==========================**/
