/**=====================
   3.35 Projectlist CSS Start
==========================**/

.project-list {
  .row {
    margin: 15px;
  }

  button:focus {
    outline: none !important;
  }

  .theme-form .form-group {
    margin-bottom: 15px;
  }

  .border-tab.nav-tabs {
    .nav-item .nav-link {
      border: 1px solid transparent;
      padding: 5px 30px 5px 0;
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-weight: 500;
    }
  }

  .btn {
    vertical-align: -12px;
    float: right;

    [dir="rtl"] & {
      float: left;
    }

    svg {
      vertical-align: -3px;
      height: 16px;
    }
  }

  ul {
    margin-bottom: 0 !important;
    border-bottom: 0;

    li {
      svg {
        height: 18px;
        vertical-align: -3px;
        margin-right: 5px;
        [dir="rtl"] & {
          margin-right: unset;
          margin-left: 5px;
        }
      }
    }
  }
}

.tab-content {
  .row {
    > div.col-xl-4 {
      $show-numbers: true;

      @if $show-numbers {
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation-fill-mode: both;
            animation: fadeIncustom 0.5s linear #{$i}00000ms;
          }
        }
      }
    }
  }
}

.project-cards {
  .tab-content {
    margin-bottom: -30px;
  }
}

.project-box {
  border: 1px solid $light-semi-gray;
  border-radius: 5px;
  padding: 30px;
  background-color: lighten($light, 2%);
  margin-bottom: 30px;
  background-color: transparent !important;
  position: relative;
  overflow: hidden;
  &.b-light1-primary {
    border-color: var(--theme-default) !important;
    .details {
      background-color: rgba($primary-color, 0.1);
      padding: 7px;
      margin-bottom: 12px;
    }
  }
  &.b-light1-success {
    border-color: $success-color !important;
    .details {
      background-color: rgba($success-color, 0.1);
      padding: 7px;
      margin-bottom: 12px;
    }
  }

  h6 {
    font-weight: 500 !important;
  }
  h5 {
    font-weight: 600;
  }

  .badge {
    position: absolute;
    right: 30px;
    top: 15px;
    line-height: 13px;
    @media (max-width: 1366px) {
      right: 12px;
    }
  }

  .project-status {
    p {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  .d-flex {
    margin-bottom: 15px;
    margin-top: 4px;

    .flex-grow-1 {
      opacity: 0.5;
    }
  }

  .details {
    div {
      margin-bottom: 5px;
      opacity: 0.7;
      &:nth-child(even) {
        font-weight: 500;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
  .customers {
    ul {
      li {
        &:last-child {
          vertical-align: -2px;
        }
      }
    }
  }
}

/**=====================
   3.35 Projectlist CSS Ends
==========================**/
