<div class="row">
  <div class="col-xl-3 xl-40 col-md-5 box-col-4">
    <app-timeline-left />
  </div>
  <div class="col-xl-6 xl-60 col-md-7 box-col-8e">
    <div class="row">
      <div class="col-sm-12">
         <app-pepole-you-may-know />
      </div>
      <div class="col-sm-12">
        <app-common-about [data]="hobbiesAndInterestData" />
      </div>
      <div class="col-sm-12">
        <app-common-about [data]="eductionData" />
      </div>
      <div class="col-sm-12">
        <app-pepole-you-may-know />
      </div>
      <div class="col-sm-12">
         <app-activity-log />
      </div>
    </div>
  </div>
  <div class="col-xl-3 xl-100 box-col-12">
    <app-timeline-right />
  </div>
</div>