<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-grid-options />
    </div>
    <div class="col-sm-12">
      <app-grid-for-column />
    </div>
    <div class="col-xl-5">
      <app-enable-flex-behaviors />
    </div>
    <div class="col-xl-7">
      <app-horizontal-gutters />
    </div>
    <div class="col-xl-6">
      <app-vertical-gutters />
    </div>
    <div class="col-xl-6">
      <app-row-columns-gutters />
    </div>
    <div class="col-sm-12">
      <app-no-gutters />
    </div>
    <div class="col-sm-12">
      <app-vertical-alignment />
    </div>
    <div class="col-sm-12">
      <app-horizontal-alignment />
    </div>
    <div class="col-sm-12">
      <app-nesting />
    </div>
    <div class="col-sm-12">
      <app-order />
    </div>
    <div class="col-sm-12">
      <app-offset />
    </div>
  </div>
</div>
