<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-common-helper-class [data]="StyleBorderData" />
    </div>
    <div class="col-12">
      <app-common-helper-class [data]="BorderAndDisplayData" />
    </div>
    <div class="col-12">
      <app-common-helper-class [data]="backgroundColorsData" />
    </div>
    <div class="col-12">
      <app-border-color />
    </div>
    <div class="col-xl-6">
      <app-images-sizes />
    </div>
    <div class="col-xl-6">
      <app-font-style />
    </div>
    <div class="col-xl-6">
      <app-font-width-helper />
    </div>
    <div class="col-xl-6">
      <app-text-colors />
    </div>
    <div class="col-xl-12">
      <app-padding />
    </div>
    <div class="col-xl-3">
      <app-common-border [data]="dashedBorder" />
    </div>
    <div class="col-xl-3">
      <app-common-border [data]="dottedBorder" />
    </div>
    <div class="col-xl-3">
      <app-common-border [data]="grooveBorder" />
    </div>
    <div class="col-xl-3">
      <app-common-border [data]="ridgeBorder" />
    </div>
    <div class="col-xl-12">
      <app-common-margin-padding [data]="SidePadding" />
    </div>
    <div class="col-xl-12">
      <app-margin />
    </div>
    <div class="col-xl-12">
      <app-common-margin-padding [data]="SideMargin" />
    </div>
    <div class="col-12">
      <app-font-sizes />
    </div>
  </div>
</div>
