<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-basic-card-child />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-flat-card />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-without-shadow-card />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-icon-in-heading />
    </div>
    <div class="col-sm-12">
      <app-dark-color-card />
    </div>
    <div class="row">
      @for (cardData of commonInfoColorCardData; track cardData) {
      <div class="col-xl-4 col-sm-6">
        <app-info-color-cards [data]="cardData" />
      </div>
      }
    </div>
  </div>
</div>
